.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.display-3 {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
	margin-top: 0.5rem;
}
.jumbotron {
  background-image: url("/static/theme_pics/caroussel-try.jpg");
  background-size: cover;
}