{% extends "layout.html" %}
{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                firstDay: 1,
                headerToolbar: {right: 'prev,next'},
                initialView: 'dayGridMonth',
                allDaySlot: false,
                footerToolbar: {center: 'listMonth,timeGridWeek,dayGridMonth'},
                views: {timeGridWeek: {dayHeaderFormat: {weekday: 'short', day: '2-digit'}}},
                aspectRatio: 1,
                slotDuration: '01:00:00',
                titleFormat: {year: '2-digit', month: 'short', day: '2-digit'},
                dateClick: function (info) {
                    if (calendar.view = 'dayGridMonth') {
                        calendar.changeView('timeGridWeek', info.dateStr);
                    } else {
                        calendar.changeView('dayGridMonth', info.dateStr);
                    }
                },
                events: [
                    {% for event in events %}
                        {
                            title: '{{event.title}}',
                            start: '{{event.startdatetime.strftime("%Y-%m-%dT%H:%M:%S")}}',
                            end: '{{event.enddatetime.strftime("%Y-%m-%dT%H:%M:%S")}}',
                            {% if event.get_accepted_workers|length == event.available %}
                                color: 'green',
                            {% elif event.available == 0 %}
                                color: 'blue',
                            {% else %}
                                color: 'red',
                            {% endif %}
                            url: 'event/{{event.id}}'
                        },
                    {% endfor %}
                ],
                eventContent: function (info) {
                    return {html: info.event.title};
                },
                eventDisplay: 'block'
            });
            calendar.render();
        });
    </script>
    <div class="calendar-presentation">
        <h2><a class="article-title">Calendar</a></h2>
        <div id='calendar'></div>


    </div>

{% endblock content %}